<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.SettingsViewController"
            android:exported="false"
            android:label="@string/title_activity_settings_view_controller"
            android:theme="@style/Theme.NotesApp"/>
        <activity android:name=".controllers.ManageCategoryViewController"
            android:exported="false"
            android:label="@string/title_activity_manage_category_view_controller"
            android:theme="@style/Theme.NotesApp"/>
        <activity android:name=".controllers.AbstractNoteViewController"
            android:exported="false"
            android:label="@string/title_activity_abstract_note_view_controller"
            android:theme="@style/Theme.NotesApp"/>
        <activity android:name=".controllers.NewNoteViewController"
            android:exported="false"
            android:label="@string/title_activity_new_note_view_controller"
            android:theme="@style/Theme.NotesApp"/>
        <activity android:name=".controllers.EditNoteViewController"
            android:exported="false"
            android:label="@string/title_activity_edit_note_view_controller"
            android:theme="@style/Theme.NotesApp"/>
        <activity android:name=".controllers.CategoryDetailViewController"
            android:exported="false"
            android:label="@string/title_activity_category_detail_view_controller"
            android:theme="@style/Theme.NotesApp"/>
    </application>

</manifest>